/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
.post-carousal-wrp .fl-post-carousel .fl-post-carousel-post {
  text-align: center;
}

 header .fl-row.fl-row-full-width.fl-row-bg-color.subnav.sticky-element-original.element-is-sticky,
  header .fl-row.sticky-element-original.element-is-sticky {
    width: 100% !important;
	  z-index: 99999 !important;
  }

#topbar .right-col .fl-rich-text{
	display: flex;
    align-items: center;
    justify-content: end;
}
#topbar .fl-rich-text p{
	margin-bottom: 0px !important;
	font-family: "Roboto", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
#topbar .contact-link:hover{
	text-decoration: underline !important; 
}
#topbar .contact-link{
	margin-right: 20px;
}
.post-carousal-wrp
  .fl-post-carousel
  .fl-post-carousel-post
  .fl-post-carousel-text
  .fl-post-carousel-title
  a {
  text-transform: uppercase;
  color: #242c43;
  font-size: 14px;
  font-weight: 600;
}
.fl-post-carousel-more {
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 12px 0px;
  letter-spacing: 1px;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text-2 i {
  color: #a99468;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text-2 a,
div#topbar .fl-page-bar-container .fl-page-bar-text-2 a{
  margin-left: 20px;
  display: inline-block;
}
.fl-page-header {
  font-family: "Montserrat", sans-serif;
}
.fl-page-header .fl-page-header-wrap .fl-page-header-container {
  padding: 20px 0;
}
#our-arrow a.adv-icon-link {
  position: relative;
  z-index: 9;
  box-shadow: 0px 0px 20px #797979;
  border-radius: 50px;
}
.fl-page-nav-right .fl-page-nav ul.navbar-nav > li a {
  text-transform: uppercase;
}

.store-opening-hrs li {
  position: relative;
}
.store-opening-hrs li span {
  position: absolute;
  right: 0px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav > li.menu-button a {
  background: #a99468;
  color: #fff;
  margin-left: 50px;
  display: inline-block;
}
.fl-page-nav-right .fl-page-nav ul.navbar-nav > li.menu-button a:hover {
  background: #242c43;
}
.fl-node-5f3f9b51560b3 .fl-rich-text,
.fl-node-5f3f9b51560b3 .fl-rich-text * {
  color: #a99468 !important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li {
  border: 0px !important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a {
  color: #a99468;
  margin-bottom: 10px !important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a:hover {
  box-shadow: 0 0 10px #000;
  background: #e9ebeb;
  font-weight: 700;
  text-transform: uppercase;
  color: #242c43;
  font-size: 17px;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li.uabb-tab-current {
  border: 0px !important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li.uabb-tab-current h4 a {
  box-shadow: 0 0 10px #000;
  background: #e9ebeb;
  font-weight: 700;
  text-transform: uppercase;
  color: #242c43;
  font-size: 17px;
}
.vertical-tabs-wrp
  .uabb-tabs-style-simple
  ul
  li.uabb-tab-current
  h4
  a
  .uabb-tab-title {
  color: #242c43 !important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a .uabb-tab-title span {
  font-weight: 300;
  border: 1px solid #a99468;
  color: #a99468;
  padding: 2px 0px;
  border-radius: 50px;
  display: inline-block;
  width: 35px;
  text-align: center;
  margin-right: 10px;
}
.vertical-tabs-wrp .uabb-tabs-layout-vertical .uabb-content-wrap {
  padding-left: 50px;
}

.gform_footer.top_label input {
  padding: 12px 24px;
  border-radius: 0 !important;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #fff !important;
  color: #242c43 !important;
  border-radius: 0px !important;
  font-family: Montserrat, sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #a99468 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #242c43 !important;
}
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #242c43;
  border-top: 1px solid #fff;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #a99468 !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #242c43;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #242c43;
  border: 1px solid #242c43;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #242c43;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #242c43 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #242c43 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: Montserrat, sans-serif !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #a99468 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #a99468 !important;
}

.uabb-creative-menu-mobile-toggle.hamburger {
  border: 1px solid #000;
}

@media (min-width: 1100px) and (max-width: 1440px) {
  .fl-page-bar .fl-page-bar-container {
    max-width: 95% !important;
  }
}
.uabb-content-current > .uabb-tab-acc-title .uabb-tab-title,
.uabb-content-current > .uabb-tab-acc-title .uabb-acc-icon {
  color: #242c43 !important;
}
ul.store-opening-hrs {
  padding-left: 0;
  list-style: none;
}
#djcustom-footer a {
  white-space: nowrap;
}
@media (min-width: 1550px) {
  .header_banner > .fl-row-content-wrap,
  .header_banner .fl-row-content-wrap {
    min-height: 800px !important;
  }
}
@media (max-width: 1540px) {
  .header_banner .fl-row-content-wrap .fl-module-info-box .fl-module-content,
  .header_banner .fl-row-content-wrap .fl-module-content.fl-node-content {
    margin-bottom: 20px;
  }
}
@media (min-width: 1023px) {
  header .fl-row.fl-row-full-width.fl-row-bg-color.subnav.sticky-element-original.element-is-sticky,
  header .fl-row.sticky-element-original.element-is-sticky {
	  z-index: 99999 !important;
  }
}

@media (max-width: 992px) {
	#topbar *{
		text-align: center !important;
	}
	#topbar .right-col .fl-rich-text {
    justify-content: center;
}
  .product-row .fl-module-photo .fl-photo .fl-photo-img {
    width: 100%;
  }
  footer#djcustom-footer *,
  footer *,
  div#our-organization *,
  .fl-page-content .uabb-content.uabb-tab-acc-content *,
  .fl-page-content .fl-callout * {
    text-align: center !important;
  }
  .location-top .fl-html a.fl-button,
  .location-top .btn-white a.fl-button {
    max-width: 220px;
    margin: 0 auto;
    display: block;
  }
  .uabb-creative-menu .menu > li > a,
  .uabb-creative-menu .menu > li > .uabb-has-submenu-container > a {
    font-size: 14px !important;
  }
  .uabb-creative-menu .sub-menu > li > a, .uabb-creative-menu .sub-menu > li > .uabb-has-submenu-container > a{
    font-size: 12px !important;
  }
}

@media (max-width: 380px) {
  h1.uabb-infobox-title,
  h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 330px) {
  .vertical-tabs-wrp .uabb-tabs .uabb-tab-acc-title .uabb-tabs-icon {
    display: none;
  }
  h1.uabb-infobox-title,
  h1 {
    font-size: 28px !important;
  }
}
